<html>
  <head>
    <title>New Message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <form method="POST" action="/new">
      <input type="text" name="messageUser" placeholder="enter your name" />
      <input type="text" name="messageText" placeholder="enter your message" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
